@import "compass";

/*$base-layout: smart;
$base-sprite-dimensions: true;
$base-sprite-spacing: 5px;
@import "base/*.png";
$base-use-percentages: true;
@include all-base-sprites;*/

$nav-font: #042d43;

@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold/ProximaNova-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family: 'proxima-nova';
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
    font-family: proxima-nova;
  font-weight: normal;
}

.navbar {
  background-image: none;
  @include box-shadow(none);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  transition: background-color 0.7s ease;
  &.white {
    background-color: #ffffff;
  }
  .navbar-header {
    .navbar-brand {
      font-weight: bold;
      font-size: 24px;
      color: $nav-font;
    }
  }
  .navbar-nav {
    li {
      a {
        color: $nav-font;
        font-weight: bold;
        padding: 2px 8px;
        margin: 13px 10px;
        &:hover {
          color: #ffffff;
          background-color: $nav-font;
          @include border-radius(15px);
        }
      }
    }
    li.active {
      a, a:hover {
        color: #ffffff;
        background-color: $nav-font;
        background-image: none;
        @include box-shadow(none);
        @include border-radius(15px);
      }
    }
  }
}

header {
  display: table;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  .header-container-vertical {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    .header-container-horizontal {
      display: inline-block;
      margin: 0 auto;
      border-bottom: 8px solid #ffffff;
      h1 {
        font-size: 94px;
        font-weight: bold;
        color: #ffffff;
      }
    }
  }
}

.to-help {
  padding: 45px 0 55px 0;
  color: $nav-font;
  .heading {
    text-align: center;
    margin-bottom: 45px;
    display: inline-block;
    h3 {
      font-size: 48px;
      padding-bottom: 25px;
      font-weight: bold;
      border-bottom: 3px solid $nav-font;
      display: inline-block;
    }
    .short-desc {
      font-size: 17px;
      margin-top: 10px;
    }
  }
  .help-blocks {
    .rsOverflow {
      padding: 0 20px;
    }
    .img-text-btn {
      text-align: center;
      padding-bottom: 20px;
      img {
        margin: 0 auto 20px auto;
        //margin-bottom: 10px;
      }
      h5 {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 32px;
        text-transform: uppercase;
      }
      p {
        color: #5b6089;
      }
    }
  }
}

.read-more {
  color: #d2412c;
  text-transform: uppercase;
  border: 1px solid #8e989f;
  padding-bottom: 12px 20px;
  @include border-radius(0px);
  font-weight: bold;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(69,89,103,1);
  -moz-box-shadow: 4px 4px 0px 0px rgba(69,89,103,1);
  box-shadow: 4px 4px 0px 0px rgba(69,89,103,1);
  margin-top: 17px;
  position: relative;
  &:hover {
    -webkit-box-shadow: 2px 2px 0px 0px rgba(69,89,103,1);
    -moz-box-shadow: 2px 2px 0px 0px rgba(69,89,103,1);
    box-shadow: 2px 2px 0px 0px rgba(69,89,103,1);
    top: 2px;
    left: 2px;
  }
}

.client-login {
  padding: 60px 0 55px 0;
  text-align: center;
  background-size: cover;
  p {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 28px;
  }
  form {
    input[type="text"] {
      width: 100%;
      background: rgba(255, 255, 255, 0.77);
      border: none;
      margin-bottom: 16px;
      font-size: 25px;
      padding: 12px;
    }
    button {
      background-color: transparent;
      border: 3px solid #51a9f6;
      color: #fff;
      font-size: 19px;
      text-transform: uppercase;
      position: relative;
      &:hover {
        color: #ffffff;
        border-bottom-width: 2px;
        border-right-width: 2px;
        margin-bottom: 1px;
        top: 1px;
        left: 1px;
      }
    }
  }
}

.home-testimonials {
  background-size: cover;
  padding: 270px 0 105px 0;
  text-align: center;
  color: #ffffff;
  .dont {
    font-size: 65px;
    font-weight: bold;
    border-bottom: 5px solid #ffffff;
    display: inline-block;
  }
  .words {
    font-size: 32px;
    //font-weight: bold;
    display: inline-block;
    margin: 5px 0 55px 0;
    padding: 30px 19px;
    width: 100%;
  }
  .btn {
    border: solid #ffffff;
    border-top-width: 1px;
    border-bottom-width: 2px;
    border-left-width: 3px;
    border-right-width: 3px;
    @include border-radius(0);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    &:hover {
      color: #ffffff;
      border-bottom-width: 1px;
      border-right-width: 2px;
      top: 1px;
      left: 1px;
      margin-bottom: 1px;
    }
  }
}

.still-have {
  padding: 30px 0 32px 0;
  background-color: #e0e0e0;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-bottom: -6px;
  .questions {
    color: #3b3b3b;
    font-size: 41px;
    a {
      font-size: 13px;
      margin-left: 10px;
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #585858;
      -webkit-box-shadow: 2px 3px 3px 0px rgba(62,62,62,1);
      -moz-box-shadow: 2px 3px 3px 0px rgba(62,62,62,1);
      box-shadow: 2px 3px 3px 0px rgba(62,62,62,1);
      padding: 18px 20px;
      position: relative;
      &:hover {
        -webkit-box-shadow: 1px 2px 3px 0px rgba(62,62,62,1);
        -moz-box-shadow: 1px 2px 3px 0px rgba(62,62,62,1);
        box-shadow: 1px 2px 3px 0px rgba(62,62,62,1);
        top: 1px;
        left: 1px;
      }
    }
  }
}

.socialize {
  background-color: #0c1430;
  .t-feed {
    padding: 80px 15px 77px 15px;
  }
  .t-feed-slider {
    .author {
      margin-bottom: 55px;
      display: inline-block;
      img {
        float: left;
        margin-right: 25px;
      }
      .info {
        float: left;
        p {
          color: #ffffff;
          font-weight: bold;
          font-size: 19px;
          margin-bottom: 3px;
          padding-top: 8px;
        }
        a {
          font-weight: bold;
          color: #5ec4ff;
          font-size: 15px;
        }
      }
    }
    .tweet {
      color: #515e96;
      font-size: 37px;
      font-weight: bold;
      width: 100%;
      display: inline-block;
      line-height: 40px;
      a {
        color: #5ec4ff;
        &:hover {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  .social-links {
    background-color: #52aaf6;
    color: #ffffff;
    padding: 80px 15px 77px 15px;
    text-align: center;
    .socials-list {
      list-style: none;
      padding-left: 0;
      display: inline-block;
      margin-bottom: 50px;
      li {
        display: inline;
        margin-right: 55px;
        &:nth-of-type(3) {
          margin-right: 0;
        }
        a {
          color: #ffffff;
          &:hover {
            color: rgba(255, 255, 255, 0.62);
          }
        }
      }
    }
    .buzz {
      width: 100%;
      display: inline-block;
      font-weight: bold;
      font-size: 37px;
      text-transform: uppercase;
      margin-bottom: 37px;
    }
    .follow {
      padding: 25px 60px;
      text-transform: uppercase;
      font-size: 18px;
      color: #ffffff;
      border: 1px solid #ffffff;
      border-bottom-width: 2px;
      border-right-width: 2px;
      position: relative;
      &:hover {
        //color: rgba(255, 255, 255, 0.62);
        border-bottom-width: 1px;
        border-right-width: 1px;
        top: 1px;
        left: 1px;
        margin-bottom: 1px;
      }
    }
  }
}

footer {
  background-color: #0c1430;
  padding: 40px 0 80px 0;
  color: #ffffff;
  h6 {
    padding-bottom: 20px;
    margin: 0 0 20px 0;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #ffffff;
  }
  p {
    font-size: 12px;
  }
  ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
    .mt20 {
      margin-top: 20px;
      display: inline-block;
    }
    li {
      .under {
        text-decoration: underline;
      }
      a {
        color: #51a9f6;
        text-decoration: none;
        &:hover {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

.t-feed-slider {
  .rsArrowRight, .rsArrowLeft {
    top: 10px;
    color: #2e5d91;
    .rsArrowIcn {
      font-size: 35px;
      &:hover {
        color: #ffffff;
      }
    }
  }
  .rsArrowRight {
    right: 0;
  }
  .rsArrowLeft {
    right: 46px;
  }
}

.rsArrowRight, .rsArrowLeft {
  position: absolute;
  .rsArrowIcn {
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
  }
}

.rsArrowRight {
  .rsArrowIcn {
    &:before {
      content: "\e258";
    }
  }
}

.rsArrowLeft {
  .rsArrowIcn {
    &:before {
      content: "\e257";
    }
  }
}

.helpSlider {
  .rsArrowRight, .rsArrowLeft {
    top: 24%;
    color: #e4001d;
    .rsArrowIcn {
      font-size: 58px;
    }
  }
  .rsArrowRight {
    right: -5px;
  }
  .rsArrowLeft {
    left: -5px;
  }
}

.about-main {
  padding: 45px 0 50px 0;
  color: $nav-font;
  text-align: center;
  .heading {
    text-align: center;
    //margin-bottom: 45px;
    display: inline-block;
    h3 {
      font-size: 48px;
      padding-bottom: 25px;
      font-weight: bold;
      border-bottom: 3px solid $nav-font;
      display: inline-block;
    }
    p {
      margin-bottom: 35px;
      font-size: 24px;
      font-weight: bold;
    }
  }
}

.about-testimonials {
  height: 620px;
}

.the-team {
  padding: 45px 0 50px 0;
  color: $nav-font;
  text-align: center;
  .heading {
    text-align: center;
    margin-bottom: 75px;
    display: inline-block;
    h3 {
      font-size: 48px;
      padding-bottom: 25px;
      font-weight: bold;
      border-bottom: 3px solid $nav-font;
      display: inline-block;
    }
  }
  .team-members {
    display: inline-block;
    width: 100%;
    .team-member {
      .photo {
        @include border-radius(50%);
        overflow: hidden;
        margin: 0 auto 35px auto;
        display: inline-block;
      }
      .name {
        padding-bottom: 20px;
        font-weight: bold;
        border-bottom: 3px solid $nav-font;
        font-size: 26px;
        position: relative;
        margin-bottom: 15px;
        .position {
          position: absolute;
          bottom: 10px;
          font-weight: normal;
          font-size: 14px;
          width: 100%;
          left: 0;
        }
      }
      .about-member {
        p {
          margin-bottom: 20px;
          font-weight: normal;
        }
      }
      .twitter-link {
        margin-top: 20px;
        font-weight: bold;
        i {
          margin-right: 10px;
          color: #52aaf7;
          font-size: 19px;
          position: relative;
          top: 2px;;
        }
      }
    }
  }
}

.services-range {
  padding: 45px 0 50px 0;
  color: $nav-font;
  text-align: center;
  .heading {
    text-align: center;
    margin-bottom: 75px;
    display: inline-block;
    h3 {
      font-size: 48px;
      padding-bottom: 25px;
      font-weight: bold;
      border-bottom: 3px solid $nav-font;
      display: inline-block;
    }
  }
  .panel-group {
    text-align: left;
    .panel-default {
      border: none;
    }
    .panel-heading {
      border: none;
      background-color: inherit;
      h4 {
        a {
          font-size: 34px;
          font-weight: bold;
          color: $nav-font;
          border-bottom: 2px solid #8196a1;
          text-decoration: none;
        }
      }
    }
    .panel-body {
      border: none !important;
      font-size: 24px;
      color: $nav-font;
      //font-weight: bold;
    }
  }
}

.testimonial-main {
  .heading {
    h3 {
      margin-bottom: 45px;
    }
  }
}

.testimonial {
  padding: 70px 0 85px 0;
  &.dark-blue {
    background-color: #0c1430;
    .saying {
      color: #515e96;
      i, em {
        color: #4c9fe8;
      }
    }
    .credits {
      a {
        color: #4c9fe8;
      }
    }
  }
  &.light-blue {
    background-color: #4c9fe8;
    .saying {
      color: #0c1430;
      i, em {
        color: #ffffff;
      }
    }
  }
  .who {
    color: #ffffff;
    font-size: 34px;
    font-weight: bold;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 10px;
    padding-left: 0;
    margin-bottom: 25px;
  }
  .saying {
    font-size: 29px;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    margin-bottom: 45px;
    i, em {
      font-style: normal;
    }
  }
  .credits {
    font-size: 27px;
    color: #ffffff;
    font-weight: bold;
    a {
      text-decoration: underline;
      font-size: 22px;
      display: block;
      color: #ffffff;
    }
  }
  .image {
    text-align: center;
    .img-wrap {
      @include border-radius(50%);
      background-color: #ffffff;
      overflow: hidden;
      display: inline-block;
    }
  }
}